<div class="header-container">
  <div class="avatar">
    <img src="../../assets/pic.jpg" alt="Owais"/>
  </div>
  <pv2-header></pv2-header>
  <div class="content">
    <pv2-projects></pv2-projects>
    <pv2-work-ex></pv2-work-ex>
    <pv2-education></pv2-education>
    <pv2-interests></pv2-interests>
    <!--https://zeroesandones.medium.com/how-to-pass-data-from-parent-to-child-component-in-angular-9-dc7a0a64256c-->
  </div>
<!--    <pv2-email-me></pv2-email-me>-->
</div>
<div class="dont-touch-container">
  <section class="content">
    <h3 class="shake"></h3>
  </section>
</div>
